### Practice - Functions

#### ***EXAMPLE :*** 
* **Range**

In [9]:
while( True ):
    pwd = input( "enter password : " ) 
    
    if not pwd:
        print( "password should not be empty " )
    
    elif len( pwd ) in range ( 4, 8 ):
        print( "password saved " )
        break
              
    else:
        print( "password is out of range (should be 3-8 ) " )

enter password : 123456789
password is out of range (should be 3-8 )
enter password : 12
password is out of range (should be 3-8 )
enter password :
password should not be empty
enter password : 1234
password saved

#### ***EXAMPLE :*** 
* **Lambda - Map - Filter**

In [2]:
lst = [ 1, 2, 3, 4 ] 
print( lst )


res = list( filter( lambda lst : lst % 2 == 0, lst ))
print( res ) 

res = list( map( lambda lst : lst ** 2 , lst ) )
print( res )

res = list( map( lambda lst : lst ** 2, ( filter( lambda lst : lst % 2 == 0 , lst ) ) ) )
print( res )

# a little optimization 
even =  lambda lst : lst % 2 == 0
sqr  =  lambda lst : lst ** 2 

res = list( map( sqr, ( filter( even, lst ) ) ) )
print( res )

[1, 2, 3, 4]
[2, 4]
[1, 4, 9, 16]
[4, 16]
[4, 16]

#### ***EXAMPLE :***

* **Prime Number**

In [1]:
def prime( num ):

    if num == 1:
        return False

    elif num == 2:
        return True
    
    else:
        for i in range( 2, num ):
            if num % i == 0: 
                return False
    return True
    
while True:
    number = input( "num : " )
    
    if number == "q":
        print( "exit" )
        break
    
    else:
        if prime( int(number) ):
            print( f"{ number } is prime." )
        else:
            print( f"{ number } is not prime." )

num : 34
34 is not prime.
num : 2
2 is prime.
num : 1
1 is not prime.
num : 5
5 is prime.
num : q
exit

#### ***EXAMPLE :***

* **Recursive Factoriel**

In [4]:
def fact( num ):
    if( num == 1 ):
        return 1 
    else:
        return num * fact( num -1 )

print( fact( 6 ) )

720

* **Recursive Fibonacci**

In [14]:
def fibo( n ):
    if(n == 0): return 0
    if(n == 1): return 1 
    return (fibo( n - 1 ) + fibo( n - 2 ))
        
for i in range( 0, 8 ):
    print( fibo( i ) )

0
1
1
2
3
5
8
13

#### ***EXAMPLE :***

* **Lamda - Map - Filter**

In [3]:
func = lambda x : x * 2 
res = func( 2 )
print( res )

rev = lambda s : s[ ::-1 ]
res = rev( "hello python" )

print( res )

4
nohtyp olleh

### Practice - Loops

#### ***EXAMPLE :***

In [7]:
products = [ {'name':'s6', 'price':'3000'},
             {'name':'s7', 'price':'4000'},
             {'name':'s8', 'price':'5000'},
             {'name':'s9', 'price':'6000'}
           ]

* **How much is products total pay?**

In [28]:
tot = 0
for pro in products:   
    tot += int( pro[ 'price' ] ) 
print( tot )

18000

* **Which products have the highest price is 4000 ?**

In [29]:
for pro in products:   
    pay = int( pro[ 'price' ] )
    if( pay <= 4000 ):
        print( pro[ 'name'] )

s6
s7

#### ***EXAMPLE :***

* **Get 5 number and write with order small to big ( WHILE ) ?**

In [2]:
n = 0 
lst = list()
while( n < 5 ):
    num = int(input( "enter lst number 1: " ))
    lst.append( num )
    n += 1
lst.sort()
print( lst )

enter lst number 1: 1
enter lst number 1: 3
enter lst number 1: 2
enter lst number 1: 3
enter lst number 1: 2
[1, 2, 2, 3, 3]


#### ***EXAMPLE :***

* **Product**
  - Product number by user.
  - Put a dictinory this product (name, price )
  - Write this products while loop**

In [6]:
n = int(input( "enter total product number: " ))
products = list()
while( n > 0 ):
    name = input( "enter product name: " )
    pay = int(input( "enter pay: " ))
    products.append({
           'name' : name,
           'price': pay,
    })
    n -= 1
    
print( "\n" )

for pro in products:
    print( f"product name: {pro[ 'name']} pay: {pro[ 'price' ]}" )

enter total product number: 3
enter product name: s1
enter pay: 100
enter product name: s2
enter pay: 200
enter product name: s3
enter pay: 300


product name: s1 pay: 100
product name: s2 pay: 200
product name: s3 pay: 300

### Practice - Conditional Statements ( if / elif / else  )

#### ***EXAMPLE :*** 
* **Car Care Period**
 - Which date your car were in the traffic first time ?
   - First care  = 1. year
   - Second care = 2. year
   - Third care = 3. year
 - Calculate time according to day month and year.( You should be datetime module )
   - ( now ) - ( 2018/8/1 ) --> day

In [29]:
import datetime

date = input( "which date your car were in first time in the traffic ( YEAR / MONTH / DAY )? ")
date = date.split('/')

year = date[ 0 ]
month = date[ 1 ] 
day = date[ 2 ] 

first = datetime.datetime( int( year ), int( month ), int( day ) )
print( "\nfirst time :",first )

now = datetime.datetime.now()
print( "\nnow :",now )

passed_time = now - first
passed_day = passed_time.days

print( "\npassed day :",passed_day )
print( "\n" )

if( passed_day <= 365 ):
    print( "first care" )
elif( passed_day > 365 and passed_day <= 365*2 ):
    print( "second care" )
elif( passed_day > 365*2 and passed_day <= 365*3 ):
    print( "third care" )
else:
    print( "wrong !" )

which date your car were in first time in the traffic ( YEAR / MONTH / DAY )? 2020/9/1

first time : 2020-09-01 00:00:00

now : 2020-09-25 22:59:45.300314

passed day : 24


first care

### **Practice - Operators**

#### ***EXAMPLE :*** 
* **Get 2 visa note( %60 ) and 1 final note( %40 )**
* **a- If avarage is 50 the final note must be minimum 50**
* **If the final note is 70, not important the other notes.**

In [5]:
visa1 = float(input( "visa1 = " )) 
visa2= float(input( "visa2 = " )) 
final = float(input( "final = " ))

avr = ( (visa1 + visa2) / 2 ) * 0.6 + ( final ) * 0.4
result = ( ( avr >= 50 ) and ( final >= 50 ) ) or ( final >= 70 )
#result = ( avr >= 50 ) or ( final >= 70 )

print( f"the student avarage = { avr } and pass st = { result }" )

visa1 = 50
visa2 = 60
final = 50
the student avarage = 53.0 and pass st = True

#### ***EXAMPLE :*** 
**Sublist With Operators**

In [3]:
x, y, z = 2, 5, 10

numbers = 1, 5, 7, 10, 6

# According to x, *y, z = numbers equalation what is z ^ 3 
x, *y, z = numbers
print( x, y, z )
res = z ** 3 
print( res )

1 [5, 7, 10] 6
216

In [ ]:
# According to x, *y, z = numbers equalation what is sum y values 
x, *y, z = numbers
print( x, y, z )

sum = y[ 0 ] + y[ 1 ] + y[ 2 ]
print( sum )

s = 0
for e in y:
    s += e 
    
print( s )

### **Practice - Objects & Data Types**

#### ***EXAMPLE :*** 
**Create a list like that and write it**
    * student_a = cgr 2010, (70,60,70)
    * student_b = sena 1999, (80,80,70)
    * student_c = ahmet 1998, (80,70,90)

In [1]:
stu_a = [ "cgr", 1994, [ 70,60,70 ] ]
stu_b = [ "sena", 1999, [ 80,80,70 ] ]
stu_c = [ "ahmet", 1998, [ 80,70,90 ] ]

s = stu_a + stu_b + stu_c
print( s )    

res = stu_a[ 0 ]
res = stu_c[ 2 ][ 2 ]

avr = ( stu_a[ 2 ][ 0 ] + stu_a[ 2 ][ 1 ] + stu_a[ 2 ][ 2 ] ) / 3 
res = ( f"{ stu_a[ 0 ] } is { 2020 - stu_a[ 1 ] } years old and note avr = {avr:.2f}" ) 
# res = ( "{} is {} years old and note avr {:.2f}".format( stu_a[ 0 ], ( 2020 - stu_a[ 1 ] ), avr ))
print( res )

['cgr', 1994, [70, 60, 70], 'sena', 1999, [80, 80, 70], 'ahmet', 1998, [80, 70, 90]]
cgr is 26 years old and note avr = 66.67

#### ***EXAMPLE :*** 
* **Put in a list that  the three value entered by user**

In [3]:
# Put in a list that  the three value entered by user
cars = []
for i in range ( 0,3 ):
    car = input( "enter car: ")
    cars.append( car )

print( cars )

enter car: OPEL
enter car: MAZDA
enter car: RENAULT
['OPEL', 'MAZDA', 'RENAULT']

#### ***EXAMPLE :*** 
* **Replace "world" with "there" in the "hello world" string**
* **Print contents in 50 * char**

In [3]:
# replace "world" with "there" in the "hello world" string
s = "hello world".replace( "world","there" ) 
print( s )

# print " *********contents *********** " in 50 char
s = "contents". center( 50, '*') 
print( s )
s = "contests".rjust( 50, "*")
print( s )
s = "contests".ljust( 50, "'")
print( s )

hello there
*********************contents*********************
******************************************contests
contests''''''''''''''''''''''''''''''''''''''''''

#### ***EXAMPLE :*** 
* **Enter two number and replace with each other.**

In [4]:

a = int(input( "a : " ))
b = int(input( "b : " ))
print( f"normal situation a:{ a } b:{ b }\n" )

a,b = b,a 
print( f"replace each other a:{ a } b:{ b }" )

a : 3
b : 4
normal situation a:3 b:4

replace each other a:4 b:3

#### ***EXAMPLE :*** 
* **Take the two perpendicular sides (a, b) of a right triangle from the user and try to find the hypotenuse length.** 
* **Formula : a^2 + b^2 = c^2**

In [1]:
a = int(input())
b = int(input())

c = ( a ** 2 + b ** 2 ) ** 0.5  

print( "hipo ",c )


#print( f"if the sides of right triangle is a:{ a } b:{ b }, hypotenuse is c:{ c }" )

4
3
hipo  5.0

#### ***EXAMPLE :*** 
**Create a student information list and write it**

In [7]:

# students = {}
students = dict()
size = int(input("enter total student number: " ))

for order in range( 0, size ):
    number = int(input( "enter no:" ))
    name = input( "enter name:" )
    phone = input( "enter phone: " )
    students[ order ] =  {
          'number': number,
          'name'  : name,
          'phone' : phone
    }

print( "\n" )

for order in students: 
    student = students[ order ]
    print( f"{order}. order student no = {student['number']} - student name = {student['name']} - student phone = {student['phone']}")

print( "\n" )

order = int(input("enter student ord :"))
std = students[ order ]
print( f"{order}. student no = { std['number'] } - student name = {std['name']}")

print( "\n" )

enter total student number: 2
enter no:100
enter name:cagri
enter phone: 456
enter no:200
enter name:ezgi
enter phone: 566


0. order student no = 100 - student name = cagri - student phone = 456
1. order student no = 200 - student name = ezgi - student phone = 566


enter student ord :0
0. student no = 100 - student name = cagri