## Exercises - Objects & Data Types

In [1]:
# 1- createa list "Bmw. Mercedes, Opel, Mazda"
cars = [ "Bmw", "Mercedes", "Opel", "Mazda" ]
print( cars )

# 2- list size ?
sz = len( cars )
print( sz )

['Bmw', 'Mercedes', 'Opel', 'Mazda']
4

In [7]:
# 3- first and last element of list
print( cars[ 0 ], cars[ sz -1 ])

# 4- change "Mazda" with "Toyota"
cars[ -1 ] = "Toyota"  
print( cars )

Bmw Toyota
['Bmw', 'Mercedes', 'Opel', 'Toyota']

In [8]:
# 5- is "Mercedes" a list element
res = cars.index( "Mercedes" ) 
print( res )
res = "Mercedes" in cars 
print( res )

# 6- value of the -2 index of the list
res = cars[ -2 ]

1
True

In [9]:
# 7- first 3 element of list
res = cars[ 0:3 ]
res = cars[ :3 ]
print( res )

# 8- change last two elemnt with the "Toyota" and "Renaukt"
cars[ -2: ] = "Toyota", "Renault"
res = cars

['Bmw', 'Mercedes', 'Opel']

In [10]:
# 9- add "Audi" "Nissan"
res = cars + [ "Audi", "Nissan" ]
cars = cars + [ "Audi", "Nissan" ]
print( cars )

# 10- delete the last elemnt of list
del( cars[ -1 ] )
print( cars )

['Bmw', 'Mercedes', 'Toyota', 'Renault', 'Audi', 'Nissan']
['Bmw', 'Mercedes', 'Toyota', 'Renault', 'Audi']

In [11]:
# 11- reverse list
cars.reverse()
print( cars )

res = cars[ : : -1 ]
print( res )

['Audi', 'Renault', 'Toyota', 'Mercedes', 'Bmw']
['Bmw', 'Mercedes', 'Toyota', 'Renault', 'Audi']

In [13]:
# 12- create a list like that 
   # student_a = cgr 2010, (70,60,70)
   # student_b = sena 1999, (80,80,70)
   # student_c = ahmet 1998, (80,70,90)

# write a list 
  
stu_a = [ "cgr", 1994, [ 70,60,70 ] ]
stu_b = [ "sena", 1999, [ 80,80,70 ] ]
stu_c = [ "ahmet", 1998, [ 80,70,90 ] ]

s = stu_a + stu_b + stu_c
print( s )    

res = stu_a[ 0 ]
res = stu_c[ 2 ][ 2 ]

avr = ( stu_a[ 2 ][ 0 ] + stu_a[ 2 ][ 1 ] + stu_a[ 2 ][ 2 ] ) / 3 
res = ( f"{ stu_a[ 0 ] } is { 2020 - stu_a[ 1 ] } years old and note avr = {avr:.2f}" ) 
# res = ( "{} is {} years old and note avr {:.2f}".format( stu_a[ 0 ], ( 2020 - stu_a[ 1 ] ), avr ))
print( res )

['cgr', 1994, [70, 60, 70], 'sena', 1999, [80, 80, 70], 'ahmet', 1998, [80, 70, 90]]
cgr is 26 years old and note avr = 66.67

In [14]:
names = [ "Ali", "Yağmur", "Hakan", "Deniz" ] 
years = [ 1998, 2000, 1998, 1987 ]

#1- add cenk name to the end of names
names.append( "Cenk" )
print( names )

#2- add sena name to the start of names  
names.insert( 0, "la" )
names.insert( -1, "le" )
names.insert( len( names ), "lo" )
print( names )

['Ali', 'Yağmur', 'Hakan', 'Deniz', 'Cenk']
['la', 'Ali', 'Yağmur', 'Hakan', 'Deniz', 'le', 'Cenk', 'lo']

In [21]:
#3- delete deniz name to the names
names.remove( "la" )
names.pop()   # last element del
print( names )

# 4- what is deniz name 's index value 
res = names.index( "le" )
print( res )

['Ali', 'Yağmur', 'Hakan', 'le']
3

In [22]:
# 5- is ali a element of names ?
res = "Ali" in names 
print( res )

True

In [23]:
# 6- reverse names 
print( names )
res = names.reverse()
print( names )

['Ali', 'Yağmur', 'Hakan', 'le']
['le', 'Hakan', 'Yağmur', 'Ali']

In [24]:
# 7- sort names alphabetichal order
names.sort()
print( names  )

# 8- sort years 
years.sort()
print( years )

['Ali', 'Hakan', 'Yağmur', 'le']
[1987, 1998, 1998, 2000]

In [26]:
# 9- str = "Dacia, Chaevrolet" covert to list
str = "Dacia, Chaevrolet" 
res = str.split(',') # res = list(str)
print( res )

['Dacia', ' Chaevrolet']

In [27]:
# 10- years min max 
print( years )
mn = min( years )
print( mn )

mx = max( years )
print( mx )

# 11- how many 1998 in years ?
c = years.count( 1998 )
print( c )

# 12- delete all elemnts in years 
years.clear()
print( years )

[1987, 1998, 1998, 2000]
1987
2000
2
[]

In [28]:
# 13- put in a list that  the three value entered by user
cars = []
for i in range ( 0,3 ):
    car = input( "enter car: ")
    cars.append( car )

print( cars )

enter car: x
enter car: y
enter car: z
['x', 'y', 'z']

In [1]:
website = "https://www.google.com"
course  = "Python: Hero to Zero Course"

# lengt of "course" string
print( len( course ))

# pull "www" and "com " in the "website" string 
print( website[ 8:11 ] )
print( website[ -3: ] )

l = len( website )
print( website[ l-3:l ] )

# first 15 and last 15 char in website str
print( course[ :15 ] )
print(course[ -15: ] )

# reverse course 
print( course[ :: ] )
print( course[ ::-1 ] )

27
www
com
com
Python: Hero to
 to Zero Course
Python: Hero to Zero Course
esruoC oreZ ot oreH :nohtyP

In [2]:
# change the 'w' to 'W' 
s = "Hello world"
# s[ 6 ] = "W"
s = s[ 0:6 ] + "W" + s[ -4: ]
print( s )

Hello World

In [3]:
# delete start and end space  in the ' Hello World ' string
s = " Hello World ".strip()
s = " Hello World ".lstrip()
print( s )
s = " Hello World ".rstrip()
print( s )

Hello World
 Hello World

In [4]:
# delete except google  
website = "https://www.google.com"
course  = "python HERO"

s = website.lstrip( '/:psth' )
print( s )

s = website.strip( '/:psthw.com' )
print( s )

# all character lowercase and uppercase 
s = course.lower()
print( s ) 

s = course.upper()
print( s ) 

# how many "o" in websites
s = website.count("o")
s = website.count("o", 0, 10 )
print( s )

www.google.com
google
python hero
PYTHON HERO
0

In [5]:
website = "https://www.google.com"
course  = "python HERO"

# is there "com" in website 
f = website.find( "com" )
print( f )

f = website.find( "com", 0, 10 )
print( f )

f = website.index( "com" ) # right (rindex)left support
print( f )

# replace all "space" char with "-" char in the course  
s = course.replace( " ","-")
print( s )

# isalpha isdigit ?
s = course.isalpha()
print( s )

s = course.isdigit()
print( s )

19
-1
19
python-HERO
False
False

In [8]:
# replace "world" with "there" in the "hello world" string
s = "hello world".replace( "world","there" ) 
print( s )

# print " *********contents *********** " in 50 char
s = "contents". center( 50, '*') 
print( s )
s = "contests".rjust( 50, "*")
print( s )
s = "contests".ljust( 50, "'")
print( s )

hello there
*********************contents*********************
******************************************contests
contests''''''''''''''''''''''''''''''''''''''''''

### Problem 1 :
* Find the body mass index of the user according to the height and weight values you received from the user.
* Body Mass Index : weight(kg) / height(m)*height(m)

In [8]:
w = int(input( "weight = " ))
h = float(input( "height = " ))

mass_ind = w / ( h ** 2 )

print( f"body mass index for weight { w } and height { h } --> { mass_ind: }")

weight = 84
height = 1.73
body mass index for weight 84 and height 1.73 -->  28.06642386982525

### Problem 2 :
* Enter two number and replace with each other.

In [25]:
a = int(input( "a : " ))
b = int(input( "b : " ))
print( f"normal situation a:{ a } b:{ b }\n" )

a,b = b,a 
print( f"replace each other a:{ a } b:{ b }" )

a : 2
b : 3
normal situation a:2 b:3

replace each other a:3 b:2

### Problem 3 :
* Take the two perpendicular sides (a, b) of a right triangle from the user and try to find the hypotenuse    length.
* Formula : a^2 + b^2 = c^2

In [6]:
a = int(input( "a : " ))
b = int(input( "b : " ))
c = (( a ** 2 ) + ( b ** 2 )) ** 0.5  
print( "hypo :",c )
#print( f"if the sides of right triangle is a:{ a } b:{ b }, hypotenuse is c:{ c }" )

a : 12
b : 5
hypo : 13.0