### **Practice - Operators**

#### ***EXAMPLE :*** 
* **Sublist using with operators**

In [3]:
x, y, z = 2, 5, 10

numbers = 1, 5, 7, 10, 6

# According to x, *y, z = numbers equalation what is z ^ 3 
x, *y, z = numbers
print( x, y, z )
res = z ** 3 
print( res )

1 [5, 7, 10] 6
216

In [ ]:
# According to x, *y, z = numbers equalation what is sum y values 
x, *y, z = numbers
print( x, y, z )

sum = y[ 0 ] + y[ 1 ] + y[ 2 ]
print( sum )

s = 0
for e in y:
    s += e 
    
print( s )

### **Practice - Objects & Data Types**

#### ***EXAMPLE :*** 
**Create a list like that and write it**
    * student_a = cgr 2010, (70,60,70)
    * student_b = sena 1999, (80,80,70)
    * student_c = ahmet 1998, (80,70,90)

In [1]:
stu_a = [ "cgr", 1994, [ 70,60,70 ] ]
stu_b = [ "sena", 1999, [ 80,80,70 ] ]
stu_c = [ "ahmet", 1998, [ 80,70,90 ] ]

s = stu_a + stu_b + stu_c
print( s )    

res = stu_a[ 0 ]
res = stu_c[ 2 ][ 2 ]

avr = ( stu_a[ 2 ][ 0 ] + stu_a[ 2 ][ 1 ] + stu_a[ 2 ][ 2 ] ) / 3 
res = ( f"{ stu_a[ 0 ] } is { 2020 - stu_a[ 1 ] } years old and note avr = {avr:.2f}" ) 
# res = ( "{} is {} years old and note avr {:.2f}".format( stu_a[ 0 ], ( 2020 - stu_a[ 1 ] ), avr ))
print( res )

['cgr', 1994, [70, 60, 70], 'sena', 1999, [80, 80, 70], 'ahmet', 1998, [80, 70, 90]]
cgr is 26 years old and note avr = 66.67

#### ***EXAMPLE :*** 
* **Put in a list that  the three value entered by user**

In [3]:
# Put in a list that  the three value entered by user
cars = []
for i in range ( 0,3 ):
    car = input( "enter car: ")
    cars.append( car )

print( cars )

enter car: OPEL
enter car: MAZDA
enter car: RENAULT
['OPEL', 'MAZDA', 'RENAULT']

#### ***EXAMPLE :*** 
* **Replace "world" with "there" in the "hello world" string**
* **Print contents in 50 * char**

In [3]:
# replace "world" with "there" in the "hello world" string
s = "hello world".replace( "world","there" ) 
print( s )

# print " *********contents *********** " in 50 char
s = "contents". center( 50, '*') 
print( s )
s = "contests".rjust( 50, "*")
print( s )
s = "contests".ljust( 50, "'")
print( s )

hello there
*********************contents*********************
******************************************contests
contests''''''''''''''''''''''''''''''''''''''''''

#### ***EXAMPLE :*** 
* **Enter two number and replace with each other.**

In [4]:

a = int(input( "a : " ))
b = int(input( "b : " ))
print( f"normal situation a:{ a } b:{ b }\n" )

a,b = b,a 
print( f"replace each other a:{ a } b:{ b }" )

a : 3
b : 4
normal situation a:3 b:4

replace each other a:4 b:3

#### ***EXAMPLE :*** 
* **Take the two perpendicular sides (a, b) of a right triangle from the user and try to find the hypotenuse length.** 
* **Formula : a^2 + b^2 = c^2**

In [1]:
a = int(input())
b = int(input())

c = ( a ** 2 + b ** 2 ) ** 0.5  

print( "hipo ",c )


#print( f"if the sides of right triangle is a:{ a } b:{ b }, hypotenuse is c:{ c }" )

4
3
hipo  5.0

#### ***EXAMPLE :*** 
**Create a student information list and write it**

In [7]:

# students = {}
students = dict()
size = int(input("enter total student number: " ))

for order in range( 0, size ):
    number = int(input( "enter no:" ))
    name = input( "enter name:" )
    phone = input( "enter phone: " )
    students[ order ] =  {
          'number': number,
          'name'  : name,
          'phone' : phone
    }

print( "\n" )

for order in students: 
    student = students[ order ]
    print( f"{order}. order student no = {student['number']} - student name = {student['name']} - student phone = {student['phone']}")

print( "\n" )

order = int(input("enter student ord :"))
std = students[ order ]
print( f"{order}. student no = { std['number'] } - student name = {std['name']}")

print( "\n" )

enter total student number: 2
enter no:100
enter name:cagri
enter phone: 456
enter no:200
enter name:ezgi
enter phone: 566


0. order student no = 100 - student name = cagri - student phone = 456
1. order student no = 200 - student name = ezgi - student phone = 566


enter student ord :0
0. student no = 100 - student name = cagri