## USER I/O

### *Print Function*

In [1]:
print("hello")
print( 3 )

s = "cgr"
k = " hello"
print( s + k + "." )

hello
3
cgr hello.

In [2]:
print("JAN\tFEB\tMAR " + "\n" + "APR\tMAY\tJUN ")

JAN	FEB	MAR
APR	MAY	JUN

#### **Sep Parameters**

In [24]:
print( 1, 2, 3, 4, 5, 6 )
print( 1, 2, 3, 4, 5, 6, sep = "-")
print( "12", "09", "2020", sep = "/")
print( "cagri", "esen", sep = "\n")

1 2 3 4 5 6
1-2-3-4-5-6
12/09/2020
cagri
esen

#### * Star Parameters

This parameter separate the given string. And each character of string converts to the another string.

In [31]:
print( *"PYTHON" )
print( *"hello" , sep = "\n" )
print( "TBMM", sep = "." )
print( *"TBMM", sep = "." )

P Y T H O N
h
e
l
l
o
TBMM
T.B.M.M

### *Formatting*

In [18]:
"{} {} {}". format( 3.1234, 5, 0 )

a = 3
b = 4 
print( "sum of {} and {} is {}".format( a, b, a+b ) )
res = 200/700
print( "the result is {r:.4}". format( r = res ))
print( "the result is {r:10.4}". format( r = res ))

sum of 3 and 4 is 7
the result is 0.2857
the result is     0.2857

In [19]:
print( "enter name and age :" )
name = input()
age = int(input())
print( "{} is {} years old.".format( name, age ))
print( f"My name is {name} and I'm {age} years old. ")

enter name and age :
cgr
23
cgr is 23 years old.
My name is cgr and I'm 23 years old.

In [17]:
print( "{1} {2} {0}".format( "cool", "python", "is" ) )
print( "{n} {s} {a}".format( n = "cagri", s ="esen",a = "26" ) )
print( "{:.2f} {:.3f} {:.6}".format( 3.14365465, 3.14365465, 3.14365465 ))

python is cool
cagri esen 26
3.14 3.144 3.14365

### *Input Function*

In [2]:
a = input()
print( a )

1
1

In [59]:
name = input( "your name : " )
print( "hello " + name )
age = 26 
print( "the age is", age )

your name : cgr
hello cgr
the age is 26

In [56]:
age = input("your age : " )  # all input values in str type
print( "age : " + age  )   
print( type(age) )

your age : 26
age : 26
<class 'str'>

##  MATH OPERATORS & VARIABLES

In [24]:
#---------------------------- MATH OPERATORS ----------------------------- 
a = 4 
b = 3
print( "a = " + str(a) )
print( "b = " + str(b) )
c = a + b 
print( c )
print( c * 3 )
print( c - 6 )
print( c / 2 )
print( c % 2 )

# base 
print( 4 ** 3 )             # 4*4*4

# sqrt
print( 4 ** 0.5 )           # sqrt(4) 
print( 64 ** (1/3) )
print( round( 34234.23467, 4)) 
# integer division
print( 22.3 / 11.2 )        # 1 
print( 22.3 // 11.2 )       # 1 

c = -c 
print( abs(c) )

a = 4
b = 3
7
21
1
3.5
1
64
2.0
3.9999999999999996
34234.2347
1.9910714285714288
1.0
7

In [60]:
#----------------------------- VARIABLES ----------------------------------
# this code changes a variable with b value and b variable with a value
a = 5
b = 9
a,b = b,a 
print( "a = " + str(a) )
print( "b = " + str(b) )

x, y, name, is_student = ( 1, 2, "cagri", True ) 
print(x, y, name, is_student )

a =  9
b = 5
1 2 cagri True

***EXAMPLE :***

In [20]:
salary = 3242
cut = 18/(100)
gross = salary * cut 
salary -= gross
print( salary )
print( round(salary, 1)

2658.44
2658.4

## TYPE CONVERSATION

In [66]:
#----------------------------TYPE CONVERSATION----------------------------------

num1 = input( "enter num1 : " )  # 7 
num2 = input( "enter num2 : " )  # 8
sum = num1 + num2 
print( "sum : ", sum )     # in string types output : 78 
#print( "sum : " + str(sum) ) 

num1 = int( input( "enter num1 : " )) # 7 
num2 = int( input( "enter num2 : " )) # 8
sum = num1 + num2           # in int type output : 15 
print( "sum : ", sum ) 
#print( "sum : " + str(sum) ) 

sum *= 3
print ( type(sum) )

enter num1 : 23
enter num2 : 34
sum :  2334
enter num1 : 23
enter num2 : 34
sum :  57
<class 'int'>

In [11]:
s = "23454"
i = int( s )
print( i )

s = "3.1413"
f = float( s ) 
print( f )

23454
3.1413

## DATA TYPES

In [ ]:
a = "Merhaba!"                              #str
b = 57                                      #int
c = 57.5                                    #float
d = 57j                                     #complex
e = ["Erkan", "Gürhan", "Fatma"]            #list
f = ("Erkan", "Gürhan", "Fatma")            #tuple
g = range(57)                               #range
h = {"adı" : "Ramazan", "yaşı" : 65}        #dict
i = {"Erkan", "Gürhan", "Fatma"}            #set
j = frozenset({"Erkan", "Gürhan", "Fatma"}) #frozenset
k = True                                    #bool
l = b"Merhaba"                              #bytes
m = bytearray(2)                            #bytearray
n = memoryview(bytes(2))                    #memoryview

## *Integer - Float - Bool*

In [13]:
i = 3                # int
f = 6.7              # float
b = i > f            # bool 
print( b )           # false 

b = (i*3) == f        # bool 
print( b )            # false

a = int( input( "num1 : " ))    # 3
b = int( input( "num2 : " ))    # 5 
c = int( input( "result : " ))
print( c == a + b  )  # true or false

False
False
num1 : 1
num2 : 1
result : 1
False

## *String*

In [34]:
print('Python is easy')
print("Python is easy")
print("""Python is easy""")

print("Python's rules")
print('Python\'s rules')

Python is easy
Python is easy
Python is easy
Python's rules
Python's rules

In [35]:
s = "cool"
print("Python is easy and " + s )

Python is easy and cool

In [36]:
s = "python"
print( s * 2 )
s * 6

pythonpython

'pythonpythonpythonpythonpythonpython'

In [37]:
s = "hello"
print( type(s) )
print( len(s) )

<class 'str'>
5

In [68]:
print('C:\some\name')  # here \n means newline
print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

In [69]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [72]:
prefix = 'py' 
prefix + 'thon'

'python'

In [78]:
print( ' is\'nt they said ' )
print( " is'nt they said " )
print( ' "yes" they said ' )
print( " 'no' they said ")

 is'nt they said
 is'nt they said
 "yes" they said
 'no' they said

#### **String Indexing**

In [8]:
k = "jupyter"

# index from start
print( k[ 0 ] )    # first
print( k[ 5 ] )

# index from end
print( k[ -1 ] )   # last
print( k[ -3 ] )

j
e
r
t

#### **String Parcing**

In [1]:
# [ start index : end index : step value ]
s = "jupyter notebook"
print( s[ 0:2 ] )
print( s[ :6 ] )
print( s[ 4: ] )
print( s[ : ] )
print( s[ :-1 ] )
print( s[ -6:-1 ] )
print( s[ ::2 ] )
print( s[ 4:9:2 ] )

# str reverse order 
print( s[ ::-1 ] )

ju
jupyte
ter notebook
jupyter notebook
jupyter noteboo
teboo
jptrntbo
trn
koobeton retypuj

#### **String Methods**

In [7]:
message = "Hey There"

# Upper Method 
message = message.upper()
print( message )

# Lower Method
message = message.lower()
print( message )

# Title Method 
message = message.title()
print( message )

# Capitalize Method 
message = message.capitalize()
print( message )

HEY THERE
hey there
Hey There
Hey there

In [23]:
# Strip Method 
message = "  Hello There"
message = message.strip()
print( message )

# Split Method 
message = "Hello There. My name is Cgr"
message = message.split()
print( message )
print( message[ 0 ] )

message = "Hello There. My name is Cgr"
message = message.split(".")
print( message )

# Join Method 
message = "Hello There My name is Cgr"
message = message.split()
print( message )

message = " ".join( message )
print( message )
#message = "*".join( message )
#print( message )

Hello There
['Hello', 'There.', 'My', 'name', 'is', 'Cgr']
Hello
['Hello There', ' My name is Cgr']
['Hello', 'There', 'My', 'name', 'is', 'Cgr']
Hello There My name is Cgr

In [30]:
# Find Index Method 
message = "Hello There My name is Cgr"
index = message.find( "Cgr" )
print( index )

# Startwith Method 
is_found = message.startswith( "H" )
print( is_found )

# Endswith Method 
is_found = message.endswith( "H" )
print( is_found )

23
True
False

In [46]:
# Replace Method 
message = "Hello There My name is Cgr"
message = message.replace( "Cgr","Cagri" )
message = message.replace( "ç","c" ).replace( "ö","o" ).replace(" ","-")
print( message )

# Center Method
message = message.center( 100 ) 
print( message )

Hello-There-My-name-is-Cagri
                                    Hello-There-My-name-is-Cagri
                                    Hello-There-My-name-is-Cagri

### ***Warning :***

* Strings object does not support item assignment

In [38]:
s = "hello"
s[ 3 ] = 'k'

TypeError: 'str' object does not support item assignment

But there is a situation like that:

In [41]:
a = "hello "
a = a + "world"    # this a variable is different  from the above a 
print( a )

hello world

## *Array*

In [61]:
print("Enter array element :")
number = []
def init( number ):
    for i in range ( 0, 3 ):
       a = int(input()) 
       number.append( a )  
       
init( number )
print( "initial list : ", number )


def arr( number ):
    for i in range ( 0, 3 ):
        number[ i ] *= 2   #number[ i ] * 2;
    
    return number

res = arr( number )
print( "update list : ",res )

Enter array element :
1
2
3
initial list :  [1, 2, 3]
update list :  [2, 4, 6]

## *List*

* Lists are changeable, reassignable each elemnts.

In [2]:
my_list = ["one", 2 , 3.2, True ]
print( my_list )

['one', 2, 3.2, True]

In [11]:
# [ start index : end index : step value ]

ls = [ "ahmet", "enes", "mahmut", "kerem", "ali", str(1) ]
print( ls )
ls[ :3 ] = [ "cansel","ezgi", "kenan" ]
print( ls )
print( ls[ 1:3 ] )
print( ls[ :2 ] )
print( ls[ 2: ] )
print( ls[ 1::2 ] )

['ahmet', 'enes', 'mahmut', 'kerem', 'ali', '1']
['cansel', 'ezgi', 'kenan', 'kerem', 'ali', '1']
['ezgi', 'kenan']
['cansel', 'ezgi']
['kenan', 'kerem', 'ali', '1']
['ezgi', 'kerem', '1']

#### **List Methods**

In [31]:
ls = ['cansel', 'ezgi', 'kenan', 'kerem', 'ali', '1']
print( ls )

ls.append( "abc" )        # add büşra
print( ls )

ls.remove( "ezgi" )       # remove ezgi 
print( ls )

del( ls[ 1 ]  )           # del enes 
print( ls )

ls.reverse()              # reverse order
print( ls )

['cansel', 'ezgi', 'kenan', 'kerem', 'ali', '1']
['cansel', 'ezgi', 'kenan', 'kerem', 'ali', '1', 'abc']
['cansel', 'kenan', 'kerem', 'ali', '1', 'abc']
['cansel', 'kerem', 'ali', '1', 'abc']
['abc', '1', 'ali', 'kerem', 'cansel']

In [33]:
print( ls )

ls.sort()                 # sort by alphabetic  
print( ls )

ls.sort( reverse = True ) # reverse sort by alphabetic
print( ls )

ls.insert( 3, "xxx")
print( ls )

ls.pop()                  # =ls.pop( -1 ) delete last element of list
ls.pop( 0 )               # delete 0. element
print( ls ) 

print( ls.count("ahmet") )
print( ls.count("kerem") )

['cansel', 'ali', 'xxx', 'abc']
['abc', 'ali', 'cansel', 'xxx']
['xxx', 'cansel', 'ali', 'abc']
['xxx', 'cansel', 'ali', 'xxx', 'abc']
['cansel', 'ali']
0
0

In [12]:
message = "hello python"
print( message[ 0 ] )

message = message.split()
print( message )
print( message[ 0 ] )

s = message[ 0 ][ 1 ]
print( s )

h
['hello', 'python']
hello
e

In [5]:
ls = [ "ahmet", "enes", "mahmut", "kerem", "ali", ]
add =[ "new1", "new2" ]
ls = ls + addb
ls = ls + ["new3"]
print( ls )

['ahmet', 'enes', 'mahmut', 'kerem', 'ali', 'new1', 'new2', 'new3']

In [14]:
numbers = [ 1, 10, 5, 16, 4, 9, 10 ]
letters = [ 'a', 'g', 's', 'b', 'y', 'a', 's' ]

mx = max( numbers )
mn = min( numbers )
print( mx, mn )

l_mx = max( letters )
l_mn = min( letters )
print( l_mx, l_mn )

16 1
y a

#### **Nested List**
It is possible to nested lists (create lists containing other lists), for example:

In [36]:
letters = [ "a", "b", "c" ]
n = [ 1, 2, 3 ]
x = [ letters, n ]
print( x ) 
print( x[0] )
print( x[1] )
print( x[1][2] )

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
[1, 2, 3]
3

#### ***EXAMPLE 1 :***

#### Find the students that below avarage.

In [62]:
students = [ "begüm", "enes", "ayça", "kerem", "aslı" ]
notes   = [ 75, 25, 48, 78, 100 ]
#print( student + notes )

def avr( notes ):
     tot = 0
     size = len(notes)
     for i in range( 0, size ):
        tot += notes[ i ] 
     
     return tot/size
   
av = avr( notes )

def check( students, notes, avr):
     size = len(notes)
     for i in range( 0, size ):
         if( notes[ i ] <= av ):
             print( students[ i ] )

print("avarage : ", av )
check( students, notes, av )

avarage :  65.2
enes
ayça

#### ***EXAMPLE 2:***

#### Fibonacci Series

In [54]:
a, b = 0, 1
# ls = []
while a < 100:
    ls.append( a )
    a, b = b, a+b 
    
print( ls )
ls.clear()

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## *Tuple*

### ***Warning :***

* Tuple includes constant variable, add and delete invalid. 
* Strings object does not support item assignment. 
* when we will not changed anything in our data we can use tuple

In [57]:
t = ( 1,2,3 )
t[ 1 ] = 4

TypeError: 'tuple' object does not support item assignment

In [56]:
tp = ( 1,2,3,4,5 )
print( type(tp) )
print( tp[2] )
print( tp[:3] )
print( tp[-1] )
print( tp[:-1] )
print( tp[::-1] )

<class 'tuple'>
3
(1, 2, 3)
5
(1, 2, 3, 4)
(5, 4, 3, 2, 1)

In [3]:
a = ( "enes", "tuzlu" )     # tuple with paranthesis( dif list)
print( a )
a = list( a )                 #tuple is converted a list

('enes', 'tuzlu')

#### **Tuple Methods**

In [55]:
tp = ( 1, 2, 3, 4, 5, "Mustafa", 2, 2 )
print( tp.index( 1 ) )
print( tp.index("Mustafa") ) # Return the index of selected elements in paranthesis

print( tp.count( 2 ) ) # return how many times the value occurs in the tuple with the count method.
print( tp.count("Mustafa") )

0
5
3
1

## *Set*

* Sets dont uses index and cant including same element.

In [14]:
sets = { 1, 1, 2, 3, 2 }     
print( sets )                # { 1, 2, 3 }

{1, 2, 3}

In [13]:
fruit = { "apple", "banana"}
fruit.add( "orange" )       
fruit.add( "apple" )         # dont cahnge anythng
fruit.remove( "banana" )
print( fruit )
fruit.clear()
print( fruit )

{'apple', 'orange'}
set()

## *Dictionary*

 * Dictionary = keys : value

In [16]:

notes = { "enes" : 75, "kerem" : 89, "hasan" : 10 }
print( notes )
print( notes["enes"] )    # print ennes notes 

notes["ezgi"] = 100       # add ezgi
notes_copy = notes.copy()
notes.clear()
print( notes_copy )

{'enes': 75, 'kerem': 89, 'hasan': 10}
75
{'enes': 75, 'kerem': 89, 'hasan': 10, 'ezgi': 100}