## **LOOPS**

### ***For Loops***

In [15]:
numbers = [ 1, 2, 3, 4, 5 ]  # list 
for num in numbers:
    print( num )
    #print( "hi" )   # writes 5 times hi because numbers list len = 5

1
2
3
4
5

In [16]:
names = [ "ali", "veli" ]   # list 
for name in names:
    print( f"my name is {name}" )

my name is ali
my name is veli

In [17]:
word = [ 'python' ]   # list 
for char in word:
    print( char )

python

In [5]:
tup = ( 1, 2, 3, 4 )             # tuple
for a in tup :
    print( a )

# tup = ( { 1, 2 }, { 3, 4 } )   # tuple
# tup = [ ( 1, 2 ), ( 3, 4 ) ]   # tuple
tup = ( [ 1, 2 ], [ 3, 4 ] )     # tuple

for a,b in tup :
    print( a,b )

1
2
3
4
1 2
3 4

In [9]:
dic = { "k1":1, "k2":2, "k3":3 }

for item in dic:
    print( item )          # only key information
    
for item in dic.items(): # each elements information
    print( item )         

for item in dic.keys():    # only key information
    print( item  )
    
for item in dic.values():  # only value information
    print( item )
    
for key,value in dic.items():
    print( key,value )     # key and value info

k1
k2
k3
('k1', 1)
('k2', 2)
('k3', 3)
k1
k2
k3
1
2
3
k1 1
k2 2
k3 3

In [5]:
# Strategy:  Iterate over a copy
users = { "1":"inactive", "2":"active", "3":"inactive" }
print( users.copy() )   
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]
print( users )

{'1': 'inactive', '2': 'active', '3': 'inactive'}
{'2': 'active'}

In [2]:
# Strategy:  Create a new collection
users = { "1":"inactive", "2":"active", "3":"inactive" }
print( users )
active_users = {}
for user, status in users.items():
    if status == 'inactive':
        active_users[user] = status
print( active_users )

{'1': 'inactive', '2': 'active', '3': 'inactive'}
{'1': 'inactive', '3': 'inactive'}

#### ***EXAMPLE***
* **Which numbers in list is a multiple of 3?**

In [40]:
lst = [ 1, 3, 5, 7, 9, 12, 19, 21 ]

In [41]:
for num in lst:
    if( num % 3 == 0 ):
        print( num )

3
9
12
21

* **What is sum of numbers in the list ?**

In [42]:
tot = 0
for num in lst:
    tot += num 
print( tot )

77

* **What is square of odd numbers  ?**

In [44]:
for num in lst:
    if( num % 2 == 1 ):
        print( num ** 2 )

1
9
25
49
81
361
441

* **Which cities include the most of 5 character ?**

In [46]:
cities = [ "kocaeli", "istanbul", "ankara", "izmir", "rize" ]

In [50]:
for city in cities:
    size = len( city )
    if( size <= 5 ):
        print( city )

izmir
rize

### ***While Loops***

In [10]:
k = 5
while( k >= 0 ):
    print( k )
    k -= 1

5
4
3
2
1
0

In [7]:
n = 0
lst = [ 1, 3, 5, 7, 9 ]
while( n < len(lst) ):
    print( lst[ n ] )
    n += 1

1
3
5
7
9

#### ***EXAMPLE***
* **Odd and even numbers betwween 0-limit ?**

In [16]:
n = 0
odds = list()
evens = list()
limit = int( input( "enter up limit : " ))

while( n < limit ):
    if( n % 2 == 1 ):
        odds.append( n )
    else:
        evens.append( n ) 
    n += 1    

print( f"odd numbers in 0-{limit} = { odds }" )
print( f"even numbers in 0-{limit} = { evens }" )

enter up limit : 30
odd numbers in 0-30 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
even numbers in 0-30 = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [17]:
name = ""
while not name.strip():    # strip is prevents space character input
     name = input( "enter name : " )

print( f"hello, {name}" )

enter name :
enter name :
enter name : cgr
hello, cgr

### ***Break & Continue***

In [6]:
web = "www.google.com"
for ch in web:
    if( ch == '.' ):
        break;
    print( ch )

w
w
w

In [22]:
web = "www.xx.com"
for ch in web:
    if( ch == '.' ):
        continue;
    print( ch )

w
w
w
x
x
c
o
m

In [1]:
while True:
    name = input( "name( exit:q ): " )
    if( name == 'q' ):
        break
    print( f"hello {name} !" )

name( exit:q ): ww
hello ww !
name( exit:q ): cgr
hello cgr !
name( exit:q ): q

#### ***EXAMPLE***
* **Sum of odd numbers between 0-100 ?**

In [3]:
n = 0 
tot = 0
while( n < 100 ):
    n += 1 
    if( n % 2 == 0 ):
        continue
    tot += n 
print( tot )

2500

### ***Loop Methods : range(), enumerate(), zip()***

###  ***range()***

In [7]:
print( range( 0,20 ) ) 
print( *range( 0,20 ) )

range(0, 20)
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [13]:
print( *range( 20, 0 ) )        # not going down. dont anything in this line
print( *range( 20, 0, -1 ) )    # reverse range

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [14]:
# convert a list 
print( list(range( 0, 10 )) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
for item in range( 0, 10 ):
    print( item, "*" * item )

0
1 *
2 **
3 ***
4 ****
5 *****
6 ******
7 *******
8 ********
9 *********

In [16]:
l = list()
for item in range( 50, 100, 10 ):
    l.append( item )
print( l )

[50, 60, 70, 80, 90]

In [17]:
for item in range( 50, 100, 10 ):
    print( item )
print( list( range ( 5, 100, 10 ) ))

50
60
70
80
90
[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [9]:
i = 0
while( i in range(0, 10) ):
    print( i )
    i += 1

0
1
2
3
4
5
6
7
8
9

###  ***enumerate()***

In [21]:
ind = 0 
word = "hello"
for ch in word:
    print( f"index : { ind } \t char : { word[ ind ] } " ) ## word[ ind ] == ch this is same result 
    ind += 1

index : 0 	 char : h
index : 1 	 char : e
index : 2 	 char : l
index : 3 	 char : l
index : 4 	 char : o

In [18]:
word = "hello"
    
for item in enumerate( word ):
    print( item )
    
for ind,letter in enumerate( word ):
    #print( ind, letter)
    print( f"index : { ind } \t char : { letter } " )

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
index : 0 	 char : h
index : 1 	 char : e
index : 2 	 char : l
index : 3 	 char : l
index : 4 	 char : o

###  ***zip()***

In [20]:
names = [ 1,2,3,4,5 ]
phones = [ "a","b","c","d","e"]
no = [ 100,200,300,400,500 ]

new_ls = list(zip( names, phones, no ))

print( new_ls )
 
for item in new_ls:    # same in the below code block
    print( item )
    
#for item in zip( names, phones, no ):
#   print( item )
    
for a, b, c in new_ls:
    print( a,b,c )
    #print( a )

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]
(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)
1 a 100
2 b 200
3 c 300
4 d 400
5 e 500

### ***List Comprehensions***

* ***This way is altenative of while or for loops.***

In [21]:
num_list = list()
for x in range( 10 ):
    num_list.append( x**2 )
print( num_list)
    
# an easy way with list comp.
numbers = [ x**2 for x in range( 10 ) ]
print( numbers )

numbers = [ x**2 for x in range( 10 ) if x % 3 == 0 ]
print( numbers )

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 9, 36, 81]

In [73]:
word = "python"
lst = list()
for c in word:
    lst.append( c )
print( lst )

# an easy way with list comp.
ls = [ c for c in word ]
print( ls )

['p', 'y', 't', 'h', 'o', 'n']
['p', 'y', 't', 'h', 'o', 'n']

In [1]:
years = [ 1998, 1999, 2008, 2000 ]
ages = [ 2020 - year for year in years ]
print( ages )

[22, 21, 12, 20]

In [24]:
res = [ x if x % 2 == 0 else "odd" for x in range( 10 ) ]
print( res )

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [2]:
lst = [ x for x in range( 1, 10 ) ]
print( lst )

l = [ "even" if( y % 2 == 0) else "odd" for y in lst  ]
print( l )

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [98]:
res = list()
for x in range( 2 ):
    for y in range( 2 ):
        res.append( (x, y) )
print( res )

# easy way with list comp
ls = list()
ls = [ (x,y) for x in range( 2 ) for y in range( 2 ) ] 
print( ls )

[(0, 0), (0, 1), (1, 0), (1, 1)]
[(0, 0), (0, 1), (1, 0), (1, 1)]

#### ***Note : Convert the nested list to one list.***

In [26]:
# classical 
lst = [[ 1,2,3 ], [ 4,5,6,7 ], [ 8,9 ]]
new1 = list()
for i in lst:
    for x in i:
        new1.append( x )
print( new1 )

# list comp.
new = [ x for i in lst for x in i ]
print( new )

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
ls = [ (1,2), (2,3), (3,4) ]

t = [ i for i in ls ]
print( t )

t = [ i*j for i,j in ls ]
print( t )

t = [ (i,j) for i,j in ls ]
print( t )

t = [ i for i,j in ls ]
print( t )

t = [ j for i,j in ls ]
print( t )

[(1, 2), (2, 3), (3, 4)]
[2, 6, 12]
[(1, 2), (2, 3), (3, 4)]
[1, 2, 3]
[2, 3, 4]

In [19]:
s = "python"
lst = [ i * 3 for i in s ]
print( lst )

['ppp', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn']